/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 @font-face {
    font-family: 'Century';
    font-style: normal;
    font-weight: 500;
    src: url('../font/GOTHIC.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: 'Century';
    font-style: normal;
    font-weight: 700;
    src: url('../font/GOTHICB.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: 'Century';
    font-style: italic;
    font-weight: 500;
    src: url('../font/GOTHICI.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: 'Century';
    font-style: italic;
    font-weight: 700;
    src: url('../font/GOTHICBI.TTF') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
    font-family: 'Century';
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#d6d6d6;
/*    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
*/
    background-attachment:fixed;
    font-family:'Century', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:20px !important;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}
button {
    font-size: 27px !important;
    color: white !important;
    font-weight: normal !important;
    border-radius: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    padding: 0 !important;
}
a {
    color: black;
    font-weight: normal !important;
    text-shadow: none;
}
.row-with-margin {
    margin-bottom: 30px;
}
.content-center {
    text-align: center;
}

/* Colours */
.green {
    color: #1a925b !important;
}
.red {
    color: #d80056 !important;
}
.bg-light-gray {
    background-color: #e0e0e0 !important;
}
.bg-gray {
    background-color: #d6d6d6 !important;
}

/* Font Weight */
.bold {
    font-weight: bold !important;
}

/* justfy */
.justfy-left {
	float:left;
}
.justfy-right {
	float:right;
}
/* Portrait layout (default) */
.main {
    position: relative;
    width: 100%;
    height: 100%;
}

/* Waiting */
.waiting {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
}
.waiting img {
    position: fixed;
    left: 50%;
    top: 50%;
}

/* dialog */
.showDialog {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
	padding: 100 100 100 100;
    z-index: 11;
}
.showDialog .container {
	position: fixed;
    left: 50%;
    top: 30%;
	margin-left:-100px;
	width:200px;
	height:120px;
}
.showDialog button {
	width:200px;
	height: 46px !important;
    background: -webkit-linear-gradient(#27b279, #17915f) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#27b279, #17915f) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#27b279, #17915f) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#27b279, #17915f) !important; /* Standard syntax */
    border-radius:  8px !important;
    border-color:           #52c294 !important; /*{a-bup-border}*/
    color:                  white !important; /*{a-bup-color}*/
    text-shadow: 1px /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 3px /*{a-bup-shadow-radius}*/ black /*{a-bup-shadow-color}*/ !important;
	margin-top:20px !important;
}

/* Top Bar */
.top-bar {
    top: 0;
    left: 0;
    width: 100%;
    height: 74px;
    /*background: url(../img/top-bar-bg.png) repeat-x;*/
    background-color: #0497d4;
    box-shadow: 0 0 20px #0497d4;
    z-index: 10;
}
.top-bar button,
.top-bar div {
    font-size: 20px !important;
    height: 100% !important;
    text-shadow: none !important;
    background: transparent !important;
    float: left;
    color: white;
    line-height: 74px;
    text-align: center;
}
.top-bar #user-name-text {
    width: 40%;
}
.top-bar #buttonLogout {
    float: right;
    width: 30%;
    background-color: #f7941d !important;
}
/* Bottom Bar */
.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: #0497d4;
    z-index: 10;
}
.bottom-bar button {
    float: right;
    width: 110px !important;
    height: 100% !important;
    background: transparent !important;
    border-left: solid 1px white !important;
}
.bottom-bar button span {
    display: block;
    padding-top: 60px;
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 14px !important;
}
.bottom-bar button#buttonMain span {
    background-image: url(../img/bottom-bar/icon57-main.png);
}

.bottom-bar button#buttonMySchedule {
    background-color: #026b96 !important;
}
.bottom-bar button#buttonMySchedule span {
    background-image: url(../img/bottom-bar/icon57-schedule.png);
}
.bottom-bar button#buttonClockIn {
    background-color: #77b89a !important;
}
.bottom-bar button#buttonClockOut {
    background-color: #d40435 !important;
}
.bottom-bar button#buttonClockIn span,
.bottom-bar button#buttonClockOut span {
    background-image: url(../img/bottom-bar/icon57-clock.png);
}

.bottom-bar button#buttonCloseJob {
    background-color: #870624 !important;
}
.bottom-bar button#buttonCloseJob span {
    background-image: url(../img/bottom-bar/icon57-close.png);
}
.bottom-bar button#buttonMyReliefs {
    background-color: #504f4d !important;
}
.bottom-bar button#buttonMyReliefs span {
    background-image: url(../img/bottom-bar/icon57-relief.png);
}

.bottom-bar button#buttonNotices {
    background-color: #6604d3 !important;
}
.bottom-bar button#buttonNotices span {
    background-image: url(../img/bottom-bar/icon57-notices.png);
}
.bottom-bar button#buttonMyAvailability {
    background-color: #0341a7 !important;
}
.bottom-bar button#buttonMyAvailability span {
    background-image: url(../img/bottom-bar/icon57-availability.png);
}
.content {
    margin-bottom: 110px;
}
.logo {
    width: 100%;
    text-align: center;
    background-color: #e0e0e0;
}
.logo img {
	width:40%;
    margin: 30px 0;
}

/* Login Page */
.login-area {
    margin: auto;
    margin-top: 70px;
    padding: 60px;
    width: 570px;
    /*height: 630px;*/
    background-color: white;
    box-shadow: 5px 5px 50px #888888;
}
.login-area input[type=text],
.login-area input[type=password]
{
    width: 100%;
    height: 78px;
    line-height: 50px;
    font-size: 30px;
}
.login-area .login-err,
.send-err
{
    width: 100%;
    color:#d40435;
    font-size: 1em;
}
.login-btn {
    height: 76px !important;
    background: -webkit-linear-gradient(#27b279, #17915f) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#27b279, #17915f) !important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#27b279, #17915f) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#27b279, #17915f) !important; /* Standard syntax */
    border-radius:  8px !important;
    border-color:           #52c294 !important; /*{a-bup-border}*/
    color:                  white !important; /*{a-bup-color}*/
    text-shadow: 1px /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 3px /*{a-bup-shadow-radius}*/ black /*{a-bup-shadow-color}*/ !important;
}

input.required,
textarea.required {
	 background-color: #ff77a1 !important;
}

/* Cpanel Page */
.status-btn {
    margin-top: 70px !important;
    width: 350px !important;
    height: 80px !important;
    color: white !important;
    text-decoration: underline !important;
    border-radius: 0 !important;
    background-color: #0497d4 !important;
    border: none !important;
    box-shadow: 0 0 10px #888 !important;
    display: inline-block !important;
}
.cpanel-area {
    margin: auto;
    margin-top: 70px;
    padding: 10px;
    width: 570px;
    background-color: white;
    box-shadow: 5px 5px 50px #888888;
}

/* My Schedule Page */
.name-bar {
    height: 70px;
    line-height: 70px;
    padding-left: 20px;
}
.name-bar .name-label {
    font-weight: bold;
}
.clock-in {
    background-color: #77b89a !important;
}
.clock-out {
    background-color: #d40435 !important;
}
.clock-disable {
    background-color: #b2b2b2 !important;
}

/* Clock Out Page */
.schedule-info {
    padding: 40px 20px;
    background-color: #e0e0e0;
}

.clockout-area,
.clockedout-area
{
    padding-bottom: 60px;
}
.clockout-area .info,
.clockedout-area .info
{
    padding: 20px;
    background-color: #d6d6d6;
    box-shadow: 0 25px 60px #c2c2c2;
}
.clockout-area .info .ui-checkbox {
    display: table-cell !important;
    position: inherit !important;
}
.clockout-area .info .ui-checkbox .ui-btn {
    background: transparent !important;
    border: none !important;
}
.clockout-area .info span {
    display: table-cell;
    vertical-align: middle;
}
.clockout-area .info .ui-checkbox input {
    /*position: inherit !important;*/
    /*margin: 0 !important;*/
    display: none;
}
.clockout-area .operator,
.clockedout-area .operator
{
    padding-top: 165px;
    text-align: center;
}
.clockout-area .operator .clock-out,
.clockedout-area .operator .indicator
{
    display: inline-block;
    width: 550px;
    padding:60px 30px 60px 30px;
    background-color: #d40435;
    border-radius: 8px !important;
    color: white;
}
.clockout-area .operator .clock-out span {
    padding-left: 110px;
    font-size: 60px;
    background: url(../img/schedule/icon75-clock.png) no-repeat left center;
}
/* Clock In Page */
.clockin-area,
.clockedin-area,
.clockedin-fail-area
{
    padding-bottom: 60px;
}
.clockin-area .info,
.clockedin-area .info,
.clockedin-fail-area .info
{
    padding: 20px;
    background-color: #d6d6d6;
    box-shadow: 0 25px 60px #c2c2c2;
}
.clockin-area .operator,
.clockedin-area .operator,
.clockedin-fail-area .operator
{
    padding-top: 165px;
    text-align: center;
}
.clockin-area .operator .clock-in,
.clockedin-area .operator .indicator
{
    display: inline-block;
    width: 550px;
    background-color: #77b89a;
    border-radius: 8px !important;
    color: white;
    border: solid 1px white;
    padding:60px 30px 60px 30px;
}
.clockedin-fail-area .operator .indicator
{
    display: inline-block;
    width: 550px;
    background-color: #37624e;
    border-radius: 8px !important;
    color: white;
    border: solid 1px white;
    padding:60px 30px 60px 30px;
}

.clockedin-fail-area .operator .clock-in-2 {
    font-size: 60px;
    line-height: 110px;
}
.clockin-area .operator .clock-in span {
    padding-left: 110px;
    font-size: 60px;
    background: url(../img/schedule/icon75-clock.png) no-repeat left center;
}
.clockedin-fail-area .reason {
    margin-top: 30px;
    text-align: center;
}

/* Job Details Page */
.jobdetails-area,
{
    padding-bottom: 60px;
}
.jobdetails-area .info
{
    padding: 15px;
    background-color: #d6d6d6;
}
/*@media (max-width: 640px) {*/
@media (max-width: 730px) {
    .top-bar #user-name-text {
        width: 46%;
    }
    .top-bar #buttonLogout {
        width: 27%;
    }

    .logo img {
        width: 40%;
        margin: 20px 0;
    }
    .login-area {
        width: 80%;
        /*height: 530px;*/
        padding: 50px;
    }

    /* Cpanel Page */
    .cpanel-area {
        width: 90%;
    }

    .clockin-area .operator .clock-in,
    .clockedin-area .operator .indicator,
    .clockedin-fail-area .operator .indicator
    {
        width: 90%;
    }
    .clockin-area .operator,
    .clockedin-area .operator,
    .clockedin-fail-area .operator
    {
        padding-top: 100px;
    }
    .clockin-area .operator .clock-in span {
        padding-left: 90px;
    }

    .clockout-area .operator .clock-out,
    .clockedout-area .operator .indicator
    {
        width: 90%;
    }
    .clockout-area .operator,
    .clockedout-area .operator
    {
        padding-top: 100px;
    }
    .clockout-area .operator .clock-out span {
        padding-left: 90px;
    }
}

/*@media (max-width: 480px) {*/
@media (max-width: 570px) {
    body {
        font-size: 14px !important;
    }
    button {
        font-size: 18px !important;
    }
    .row-with-margin {
        margin-bottom: 20px;
    }

    .top-bar {
        height: 50px;
    }
    .top-bar button, 
    .top-bar div
    {
        font-size: 16px !important;
        line-height: 50px;
    }
    .bottom-bar {
        height: 70px;
    }
    .bottom-bar button {
        width: 70px !important;
    }
    .bottom-bar button span {
        padding-top: 40px;
        background-size: 40px;
        font-size: 9px !important;
    }
    .content {
        margin-bottom: 70px;
    }


    .logo img {
        width: 40%;
        margin: 20px 0;
    }

    .login-area {
        width: 90%;
        /*height: 350px;*/
        padding: 30px 50px;
        margin-top: 50px;
        box-shadow: 2px 2px 11px 4px #dddddd;
    }
    .login-area input[type=text],
    .login-area input[type=password]
    {
        height: 38px;
        line-height: 20px;
        font-size: 16px;
    }
    .login-btn {
        height: 46px !important;
    }
    label.checkbox-label {
        font-size: 12px !important;
    }

    /* Cpanel Page */
    .cpanel-area {
        width: 90%;
        margin-top: 30px;
        box-shadow: 2px 2px 11px 4px #dddddd;
    }
    .status-btn {
        margin-top: 30px !important;
        width: 60% !important;
        height: 50px !important;
        font-size: 12px !important;
        font-weight: normal !important;
    }

    .name-bar {
        height: 45px;
        line-height: 45px;
        padding-left: 15px;
    }
    /* Coll Out Page */
    .schedule-info {
        padding: 20px 10px;
        font-size: 14px !important;
    }

    .clockout-area .info, 
    .clockedout-area .info 
    {
        padding: 10px;
    }
    .clockout-area .operator .clock-out, 
    .clockedout-area .operator .indicator 
    {
        padding: 35px 20px 35px 20px;
    }
    .clockout-area .operator .clock-out span
    {
        padding: 5px 0 5px 55px;
        font-size: 30px;
        background-size: 40px;
    }

    .clockin-area .operator .clock-in, 
    .clockedin-area .operator .indicator, 
    .clockedin-fail-area .operator .indicator
    {
    	padding: 35px 20px 35px 20px;
    }
    .clockin-area .operator .clock-in span {
        padding: 5px 0 5px 55px;
        font-size: 30px;
        background-size: 40px;
    }
    .clockin-area .info, 
    .clockedin-area .info, 
    .clockedin-fail-area .info
    {
        padding: 10px;
    }
    .clockedin-fail-area .operator .clock-in-2 {
        font-size: 30px;
        line-height: 55px;
    }
    .clockedin-fail-area .reason {
        margin-top: 15px;
    }
}
/*@media (max-width: 360px) {*/
@media (max-width: 450px) {
    body {
        font-size: 12px !important;
    }
    .row-with-margin {
        margin-bottom: 20px;
    }


    .top-bar {
        height: 37px;
    }
    .top-bar button, 
    .top-bar div
    {
        font-size: 10px !important;
        line-height: 37px;
    }
    .bottom-bar {
        height: 60px;
    }
    .bottom-bar button {
        width: 60px !important;
    }
    .bottom-bar button span {
        padding-top: 30px;
        background-size: 30px;
        font-size: 8px !important;
    }
    .content {
        margin-bottom: 60px;
    }


    .logo img {
        width: 40%;
        margin: 15px 0;
    }
    .login-area {
        padding: 20px 50px;
    }

    /* Cpanel Page */
    .cpanel-area {
        width: 90%;
        margin-top: 30px;
        box-shadow: 2px 2px 11px 4px #dddddd;
    }
    .status-btn {
        margin-top: 30px !important;
        width: 60% !important;
        height: 40px !important;
        font-size: 12px !important;
        font-weight: normal !important;
    }

    /* My Schedule Page */
    .name-bar {
        height: 35px;
        line-height: 35px;
        padding-left: 10px;
        font-size: 12px !important;
    }
    /* Coll Out Page */
    .schedule-info {
        padding: 20px 10px;
        font-size: 12px !important;
    }

    .clockout-area .info, 
    .clockedout-area .info 
    {
        padding: 10px;
    }
    .clockout-area .operator .clock-out, 
    .clockedout-area .operator .indicator 
    {
        padding:30px 16px 30px 16px;
    }
    .clockout-area .operator .clock-out span
    {
        padding: 5px 0 5px 55px;
        font-size: 30px;
        background-size: 40px;
    }
    .clockin-area .operator .clock-in, 
    .clockedin-area .operator .indicator, 
    .clockedin-fail-area .operator .indicator
    {
        padding:30px 16px 30px 16px;
    }
    .clockin-area .operator .clock-in span {
        padding: 5px 0 5px 55px;
        font-size: 30px;
        background-size: 40px;
    }
    .clockin-area .info, 
    .clockedin-area .info, 
    .clockedin-fail-area .info
    {
        padding: 10px;
    }
    .clockedin-fail-area .operator .clock-in-2 {
        font-size: 30px;
        line-height: 55px;
    }
    .clockedin-fail-area .reason {
        margin-top: 15px;
    }
}
/*@media (max-width: 180px) {*/
@media (max-width: 270px) {
    body {
        font-size: 8px !important;
    }
    .row-with-margin {
        margin-bottom: 10px;
    }


    .top-bar {
        height: 18px;
    }
    .top-bar button, 
    .top-bar div
    {
        font-size: 6px !important;
        line-height: 18px;
    }

    .bottom-bar {
        height: 30px;
    }
    .bottom-bar button {
        width: 30px !important;
    }
    .bottom-bar button span {
        padding-top: 15px;
        background-size: 15px;
        font-size: 6px !important;
    }
    .content {
        margin-bottom: 30px;
    }


    .logo img {
        width: 40%;
        margin: 7px 0;
    }
    .login-area {
        padding: 10px 25px;
    }

    /* Cpanel Page */
    .cpanel-area {
        width: 90%;
        margin-top: 15px;
        box-shadow: 1px 1px 6px 2px #dddddd;
    }
    .status-btn {
        margin-top: 15px !important;
        width: 60% !important;
        height: 20px !important;
        font-size: 8px !important;
        font-weight: normal !important;
    }

    /* My Schedule Page */
    .name-bar {
        height: 18px;
        line-height: 18px;
        padding-left: 5px;
        font-size: 8px !important;
    }

    /* Coll Out Page */
    .schedule-info {
        padding: 10px 5px;
        font-size: 8px !important;
    }

    .clockout-area .info, 
    .clockedout-area .info 
    {
        padding: 5px;
    }
    .clockout-area .operator .clock-out, 
    .clockedout-area .operator .indicator 
    {
        padding:10px 10px 10px 10px;
    }
    .clockout-area .operator .clock-out span
    {
        padding: 3px 0 3px 28px;
        font-size: 15px;
        background-size: 20px;
    }

    .clockin-area .operator .clock-in, 
    .clockedin-area .operator .indicator, 
    .clockedin-fail-area .operator .indicator
    {
        padding:10px 10px 10px 10px;
    }
    .clockin-area .operator .clock-in span {
        padding: 3px 0 3px 28px;
        font-size: 15px;
        background-size: 20px;
    }
    .clockin-area .info, 
    .clockedin-area .info, 
    .clockedin-fail-area .info
    {
        padding: 5px;
    }
    .clockedin-fail-area .operator .clock-in-2 {
        font-size: 15px;
        line-height: 28px;
    }
    .clockedin-fail-area .reason {
        margin-top: 8px;
    }
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
